/* variables */
:root{
  --background1: #FEDCE0;
  --background2: #E5E5E5;
  --background-title: rgba(250, 134, 126, 0.15);
  --text1: #FA867E;
  --text2: #574E4E;
  --color-button: #F00F10;
}

/* general */
*{
  font-family: 'Exo 2', sans-serif;
}
body{
  background-color:var(--background1);
  font-family: 'Exo 2', sans-serif;
  overflow-x: hidden;
}
img{
  max-width:100%;
  
}

/* header */
.header-container{
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 60px;
  width: calc(100% - 150px);
}
.header-container nav ul{
  display: flex; 
  
}
.header-container nav ul li{
  margin:  0 28px;
  color: var(--text1);
  cursor: pointer;
}
.header-container button{
  align-items: center;
  background-color: transparent;
  border: 2px solid var(--color-button);
  border-radius: 10px;
  box-sizing: border-box;
  color: var(--color-button);
  cursor: pointer;
  display: flex;
  font-weight: 400;
  font-size: 14px;
  height: 51px;
  justify-content: center;
  width: 212px;
}
.header-container button span img{
  margin-top: 6px;
  margin-left: 17px;
}

/* section suculentas */
.section-suculentas{
  display: flex;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: 75px;
  justify-content: space-between;
  align-items: center;
}
.section-suculentas h1{
  color: var(--text1);
  cursor: default;
  font-size: 64px;
  font-weight: 700;
  letter-spacing:0.1em;
}
.section-suculentas span{
  color: var(--color-button)
}
.section-suculentas-texts{
  display: flex;
  flex-direction: column;
}
.section-suculentas-texts p{
color: var(--color-button);
cursor: pointer;
font-size: 14px;
margin-left: 2px;
margin-top: 20px;
}
.section-suculentas-texts p span{
margin-left: 17px;
}
.section-suculentas-img{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top:65px;
}


/* section quem somos */
.section-quem-somos{
  background: rgb(229,229,229);
  background: linear-gradient(166deg, rgba(229,229,229,1) 80%, rgba(254,220,224,1) 80%);
  padding-top: 133px;
  padding-left: 75px;
}
.section-quem-somos h1{
  padding-left: 11px;
  font-size:32px;
  color: var(--text1);
  cursor: default;
  position: relative;
  z-index: 2;
}
.section-quem-somos h1::after{
  content: "QUEM SOMOS";
  font-size: 80px;
  font-weight: 700;
  position: absolute;
  color: var(--background-title);
  z-index: 1;
  left: 34px;
  bottom: -21px;
}
.section-quem-somos h1::before{
  content: "";
  z-index: 1;
  height: 6px;
  width: 6px;
  left: 1px;
  top: 22px;
  background-color: var(--color-button);  
  position: absolute;
}
.section-quem-somos-paragraph{
  margin-top: 67px;
  height: 420px;
  width: 677px;
}
.section-quem-somos p{
  font-size: 18px;
  line-height: 35px;
  color: var(--text2);
}

.section-quem-somos-container{
  display: flex;
  justify-content: space-between;
}
.section-quem-somos-image{
  position: relative;
  z-index:0;
}
.section-quem-somos-image::before{
  content: "";
  display: block;
  z-index: 1;
  width: 429px;
  height:601px;
  border: 2px solid var(--text1);
  box-sizing: border-box;
  border-radius: 30px;
  right: 31px;
  bottom: 22px;
  position: absolute;
}
.section-produtos{
  background: rgb(229,229,229);
  background: linear-gradient(170deg, rgba(229,229,229,1) 19%, rgba(254,220,224,1) 19%);
  padding-left: 82px;
}
.section-produtos h1{
  margin-top: 20px;
}

