/* variables */
:root{
  --background1: #FEDCE0;
  --background2: #E5E5E5;
  --background-title: rgba(250, 134, 126, 0.15);
  --text1: #FA867E;
  --text2: #574E4E;
  --color-button: #F00F10;
  
  
}

/* general */
*{
  font-family: 'Exo 2', sans-serif;
}
body{
  background-color:var(--background1);
  background-image: url('../assets/images/Planta1.svg');
  background-repeat: no-repeat;
  background-position: 100% 4%;
  font-family: 'Exo 2', sans-serif;
  overflow-x: hidden;
}
img{
  max-width:100%;
}
header{
  margin: 0 auto;
  max-width: 1440px;
}
.header-container{
  align-items: center;
  display: flex;
  margin: 0 auto;
  margin-top: 60px;
  padding-right: 150px;
  padding-left: 150px;
  max-width: 1440px;
}
.header-container nav ul{
  display: flex; 
  margin-left: 157px;
  margin-right: 90px;
}
.header-container nav ul li{
  color: var(--text1);
  cursor: pointer;
  width: max-content;
}
.header-container nav ul li:not(nav ul li:first-child){
  margin-left: 58px;
}
.header-container button{
  align-items: center;
  background-color: transparent;
  border: 2px solid var(--color-button);
  border-radius: 10px;
  box-sizing: border-box;
  color: var(--color-button);
  cursor: pointer;
  display: flex;
  font-weight: 400;
  font-size: 14px;
  height: 51px;
  justify-content: center;
  width: 212px;
}
.header-container button span img{
  margin-top: 6px;
  margin-left: 17px;
}

/* section suculentas */
.suculentas{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1440px;
}
.section-suculentas{
  align-items: center;
  justify-content: space-between;
  margin-left: 148px;
  display: flex;
  margin-bottom: 0;
  width: 100%;

}
.section-suculentas h1{
  color: var(--text1);
  cursor: default;
  font-size: 64px;
  font-weight: 700;
  letter-spacing:0.1em;
}
.section-suculentas span{
  color: var(--color-button)
}
.section-suculentas-texts{
  display: flex;
  flex-direction: column;
  margin-top: 203px;
  margin-bottom: 255px;
  
}
.section-suculentas-texts p{
color: var(--color-button);
cursor: pointer;
font-size: 14px;
margin-left: 2px;
margin-top: 20px;
}
.section-suculentas-texts p span{
margin-left: 17px;
}




/* section quem somos */
.quem-somos{
  background: rgb(229,229,229);
  
}
.section-quem-somos{
  background: rgb(229,229,229);
  padding-top: 133px;
  padding-right: 62px;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}
/* triangulo */
.section-quem-somos::after{
  border-style: solid;
  border-width: 200px 100vw 100px 0;
  border-color: transparent var(--background1) transparent transparent;
  content:"";
  height: 0;
  width: 0;
}
.section-quem-somos h1{
  padding-left: 164px;
  font-size:32px;
  color: var(--text1);
  cursor: default;
  position: relative;
  z-index: 2;
}
.section-quem-somos h1::after{
  content: "QUEM SOMOS";
  font-size: 80px;
  font-weight: 700;
  position: absolute;
  color: var(--background-title);
  z-index: 1;
  left: 186px;
  bottom: -21px;
}
.section-quem-somos h1::before{
  content: "";
  z-index: 1;
  height: 6px;
  width: 6px;
  left: 155px;
  top: 22px;
  background-color: var(--color-button);  
  position: absolute;
}
.section-quem-somos-paragraph{
  margin-top: 67px;
  height: 420px;
  width: 677px;
  padding-left:150px;
}
.section-quem-somos p{
  font-size: 18px;
  line-height: 35px;
  color: var(--text2);
}
.section-quem-somos-container{
  display: flex;
  justify-content: space-between;
}
.section-quem-somos-image{
  position: relative;
  z-index:0;
}
.section-quem-somos-image::before{
  content: "";
  display: block;
  z-index: 1;
  width: 429px;
  height:601px;
  border: 2px solid var(--text1);
  box-sizing: border-box;
  border-radius: 30px;
  right: 31px;
  bottom: 22px;
  position: absolute;
}

/* section produtos */
.section-produtos{
  position: relative;
  padding-top: 80px;
  padding-left: 152px;
  max-width: 1440px;
  margin: 0 auto;
}
.section-produtos::after{
  border: 2px solid #FA867E;
  border-radius: 50%;
  content: "";
  height: 119px;
  position: absolute;
  right:160px;
  top: 220px;
  width: 119px;
}
.section-produtos::before{
  border: 2px solid #FA867E;
  border-radius: 50%;
  content: "";
  height: 258px;
  position: absolute;
  right:-40px;
  top: 40px;
  width: 258px;
}
.section-produtos h1{
  font-size:32px;
  color: var(--text1);
  cursor: default;
  position: relative;
  z-index: 2;
}
.section-produtos h1::after{
  content: "PRODUTOS";
  font-size: 80px;
  font-weight: 700;
  position: absolute;
  color: var(--background-title);
  z-index: 1;
  left: 22px;
  bottom: -21px;
}
.section-produtos h1::before{
  content: "";
  z-index: 1;
  height: 6px;
  width: 6px;
  left: -8px;
  top: 23px;
  background-color: var(--color-button);  
  position: absolute;
}
.section-produtos-container{
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-top: 125px;
  margin-bottom: 155px;
}
.section-produtos-paragraphs{
  margin-left: 88px;
  width: 579px;
  height: 338px;
}
.section-produtos-paragraphs h3{
  color: var(--text1);
  font-size: 24px;
  font-weight: 700;
}
.last-paragraph{
  margin-top: 32px;
}
.section-produtos-paragraphs p{
  color: var(--text2);
  font-size: 19px;
  line-height: 35px;
  margin-top: 16px;
}

/* section perguntas frequentes */
.perguntas-frequentes{
  background-color: var(--background2);
}
.section-perguntas-frequentes{
  background-color: var(--background2);
  padding-left: 152px;
  padding-bottom: 100px;
  padding-top: 133px;
  max-width: 1440px;
  margin: 0 auto;
}
.section-perguntas-frequentes h1{
  font-size:32px;
  color: var(--text1);
  cursor: default;
  margin-bottom: 102px; 
  position: relative;
  z-index: 2;
}
.section-perguntas-frequentes h1::after{
  content: "PERGUNTAS \A FREQUENTES";
  white-space: pre-wrap;
  font-size: 80px;
  font-weight: 700;
  position: absolute;
  line-height: 60px;
  color: var(--background-title);
  z-index: 1;
  left: 22px;
  bottom: -50px;
}
.section-perguntas-frequentes h1::before{
  content: "";
  z-index: 1;
  height: 6px;
  width: 6px;
  left: -8px;
  top: 23px;
  background-color: var(--color-button);  
  position: absolute;
}

.section-perguntas-frequentes-topic{
  width: 848px;
  height: 298px;
  border: 2px solid var(--color-button);
  box-sizing: border-box;
  border-radius: 10px;
  padding-left: 31.50px;
  padding-top:  29px;
  padding-right: 32.75px;
  padding-bottom: 42px;
}

.section-perguntas-frequentes-topic h2{
  color: var(--text2);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 47px;
}
.section-perguntas-frequentes-topic p {
  color: var(--text2);
  line-height: 35px;
  font-size: 18px;
}
.section-perguntas-frequentes-title{
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}
.section-perguntas-frequentes-topic:not(.first-topic){
  margin-top:30px;
}

/* section newsletter */
.section-newsletter{
  background-color: var(--background1);
  background-image: url('../assets/images/Carta.svg');
  background-repeat: no-repeat;
  background-position: 15.4% 20%;
  box-sizing: border-box;
  display: flex;
  height: 189px;
  justify-content: space-between;
  padding-left: 152px;
  padding-right: 203.58px;
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.section-newsletter p{
color: var(--text2);
font-size: 24px;
margin-top: 79px;

}
.section-newsletter span{
color: var(--text2);
font-size: 32px;
font-weight: 700;
line-height: 45px;
}
.section-newsletter button{
  background: transparent;
  border: none;
  color: var(--color-button);
  cursor: pointer;
  font-size: 18px;
  margin-top:63px;
  margin-right: 60px;
}
.section-newsletter button span{
  margin-left:27.56px;
}

.section-newsletter-input{
  margin-top:105px;
}
.section-newsletter-input input{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #231F1F;
  font-size: 18px;
  margin-left: 52px;
  width: 268px;
  outline: none;
  padding-bottom: 10px;
}
.section-newsletter-input input::placeholder{
  color: #231F1F;
  font-size: 18px;
}

/* section fale-conosco */
.fale-conosco{
  background-color: var(--background2);
}
.section-fale-conosco{
  background-color: var(--background2);
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 150px;
  padding-top:135px;
  padding-bottom: 163px;
}
.section-fale-conosco h1{
  font-size:32px;
  color: var(--text1);
  cursor: default;
  margin-bottom: 120px; 
  position: relative;
  z-index: 2;
}
.section-fale-conosco h1::after{
  content: "FALE \A CONOSCO";
  white-space: pre-wrap;
  font-size: 80px;
  font-weight: 700;
  position: absolute;
  line-height: 60px;
  color: var(--background-title);
  z-index: 1;
  left: 12px;
  bottom: -50px;
}
.section-fale-conosco h1::before{
  content: "";
  z-index: 1;
  height: 6px;
  width: 6px;
  left: -8px;
  top: 23px;
  background-color: var(--color-button);  
  position: absolute;
}
.section-fale-conosco form{
  display: flex;
  flex-direction: column;
}
.section-fale-conosco input{
  background-color: #F9E5EC;
  margin-bottom: 32px;
  height: 60px;
  width: 560px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding-left: 16px;
  padding-top:19px;
  padding-bottom:19px;
  font-size: 18px;
}
.section-fale-conosco textarea{
  background-color: #F9E5EC;
  height: 286px;
  width:560px;
  outline: none;
  border: none;
  font-size: 18px;
  padding-left: 16px;
  padding-top:19px;
  margin-bottom: 19px;
}
.section-fale-conosco button{
  width: 270px;
  height: 67px;
  background: none;
  cursor: pointer;
  border: 2px solid var(--color-button);
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 310px;
}
.section-fale-conosco button span{
  margin-top: 2px;
  margin-left: 11px;
}

.section-fale-conosco input::placeholder,.section-fale-conosco textarea::placeholder{
  color: #231F1F;
  font-size: 18px;
}

.section-fale-conosco-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer .container-footer{
  align-items: center;
  flex-direction: column;
  text-align: center;
  line-height:30.6px;
  font-size: 18px;
  display: flex;
  height: 433px;
  background-color: var(--text1);
  justify-content: center;
  color: #fff;
  cursor: default;
}
footer .container-icons{
  display: flex;
  justify-content: space-between;
  width: 269px;
  margin-bottom: 38px;
}
footer .icon-area{
  width: 76px;
  height: 67px;
  background-color: #F9E6EE;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  
}
footer .container-icons .icon-area img{
  height: 35px;
  width: 35px;
}